@import "/styles.css";

/* landing-page styles */
.landing-page {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 105px 0 0;
  position: relative;
}

.main-title {
  color:  var(--text-body-color);
  font-size: 64px;
  font-weight: 600;
  line-height: 140%;
}

.sub-title {
  margin-top: 30px;
  color:  var(--text-muted-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  line-break: normal;
}

#start-button {
  margin-top: 30px;
  width: 235px;
  height: 70px;
  border-radius: 35px;
  background-color: var(--button-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    box-shadow: 18px 18px 30px 0 var(--button-shadow-color);
  }
}

#start-button a {
  text-decoration: none;
  color: inherit;
  font-size: 28px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  align-content: center;
}

.consortium {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.org-logo {
  box-sizing: border-box;
  height: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--background-color);
}
.org-logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.background-img {
  will-change: auto;
  position: absolute;
  height: 900px;
  padding: 0 48px;
  bottom: -1040px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.background-img img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: contain;
  box-shadow: 18px 18px 30px 0 var(--button-shadow-color);
}


/**
 * Footer Styles
 */
footer {
  z-index: 2;
  width: 100%;
  padding: 0 60px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.information {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  text-align: start;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

/* Media Query */
@media (max-width: 1851px) {
  .landing-page {
    flex: none; 
    margin-bottom: 40px;
  }
  .container {
    padding: 60px 0 0;
  }
  .main-title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 20px;
  }
  #start-button {
    width: 170px;
    height: 50px;
  }
  #start-button a {
    font-size: 24px;
  }
  .consortium {
    margin-top: 40px;
  }

  .information {
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 1033px) {
  .main-title {
    font-size: 36px;
  }
  .sub-title {
    font-size: 16px;
  }
  .org-logo {
    height: 42px;
    padding: 10px 16px;
  }
  .information {
    gap: 12px;
    font-size: 10px;
  }
}

@media (max-width: 624px) {
  .landing-page {
    margin-bottom: 30px;
  }
  .sub-title {
    margin-top: 20px;
  }
  .background-img {
    bottom: -1030px;
  }

  #start-button:hover {
    box-shadow: none;
  }
  .consortium {
    gap: 10px;
  }
}

@media (max-width: 350px) {

} 