version: '3'

services:
  web:
    build: .
    command: streamlit run main.py --server.port 8080
    volumes:
      - ./:/usr/src/app/
    ports:
      - 8080:8080
    environment:
      TZ: Asia/Seoul
