gdal-3.10.2-cp312-cp312-win_amd64.whl
./idea
.DS_Store
.idea
venv
.venv
__pycache__/
*.pyc
.env
.env.*
node_modules/
dist
build
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
data_dir/
*.bat
.config/
datamanager/media
_static/
cropweb/data
cropweb/crop_monitor/weather
rda_offline_crop_analysis_system/temp
rda_offline_crop_analysis_system/crop_analysis_system/media
rda_offline_crop_analysis_system/crop_analysis_system/static/vendor
rda_offline_crop_analysis_system/crop_analysis_system/staticfiles
*.tif
*.png
cropweb/crop_monitor/static/crop_calendar.geojson
*.geojson
