services:
  web:
    build: .
    container_name: django-web
    command: gunicorn datamanager.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/static/
      - media_volume:/app/media/
      - ./db.sqlite3:/app/db.sqlite3  # <== web과 celery 둘 다에 추가

    depends_on:
      - redis

  celery:
    build: .
    container_name: celery-worker
    command: celery -A datamanager worker --loglevel=info --pool=solo
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3  # <== web과 celery 둘 다에 추가
      - media_volume:/app/media/
    depends_on:
      - redis


  redis:
    image: redis:latest
    ports:
      - 6379:6379

  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static/
      - media_volume:/app/media/
    depends_on:
      - web

volumes:
  static_volume:
  media_volume:
